{% extends "base.html" %}
{% block title  %}Homepage {% endblock %}
{% load url from future %}
{% block content %}
<!--|intcomma-->

		{% if berichten.succes %}
			<p style="color:green">Team opgeslagen</p>
		{% endif %}
		{% for error in form.non_field_errors %}
			<p>{{ error }}</p>
		{% endfor %}



	<div id="mijnteam_header">
		<p>Budget: &euro; {{userprofile.budget}} <br />
		Kosten: &euro; {% if userprofile.kosten %}{{userprofile.kosten}}{%else%}0{% endif %}<br />
		Balans: &euro; 	{{userprofile.balans}}<br />
		Jokers: {{userprofile.jokers}}</p>
	</div>
	<div class="clear"></div>
	<div>
		<form action="" method="post">
			{% csrf_token %}
			<div id="mijnteam_container">
				<div id="mijnteam_team">
					<table id="mijnteam_selection">
						<tr>
							<td>Coureur 1</td>
							<td class="selection">{{form.coureur1}}</td>
							<td>{{form.joker_coureur1}}</td>
							<td>Joker?</td>
						</tr>
						<tr>
							<td>Coureur 2</td>
							<td class="selection">{{form.coureur2}}</td>
							<td>{{form.joker_coureur2}}</td>
							<td>Joker?</td>
						</tr>
						<tr>
							<td>Team 1</td>
							<td class="selection">{{form.team1}}</td>
							<td>{{form.joker_team1}}</td>
							<td>Joker?</td>
						</tr>
						<tr>
							<td>Team 2</td>							
							<td class="selection">{{form.team2}}</td>
							<td>{{form.joker_team2}}</td>
							<td>Joker?</td>
						</tr>	
						<tr>
							<td>Snelste coureur</td>
							<td>{{form.snelste_coureur}}</td>
						</tr>	
						<tr>
							<td>Snelste pitstop</td>
							<td>{{form.snelste_pitstop}}</td>
						</tr>
					</table>
				</div>
				<div>{{trivia.vraag}}</div>
				<div>{{form.trivia_antwoord}}</div>
			</div>
			<div>

			</div>
			<div class="clear"></div>
			<div id="mijnteam_save">
				<input type="submit" value="Opslaan">
			</div>
		</form>
	</div>

{% endblock %}
