{% extends 'base_logged_in.html' %}
{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex flex-row-reverse">
                <div class="p-2">
                    <a href="{% url 'game:drivers:add' %}" class="btn btn-light">Add</a>
                </div>
            </div>
            <table class="table table-hover">
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                    <th>Actions</th>
                </tr>
                {% for object in object_list %}
                <tr>
                    <td>{{ object.name }}</td>
                    <td>{{ object.order }}</td>
                    <td>{{ object.value }}</td>
                    <td>
                        <a href="{% url 'game:teams:edit' object.pk %}" class="btn btn-sm btn-secondary">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}