body {
	margin: 0;
	padding: 0;
	color: #4A4A4A;
	font: 13px Verdana, Geneva, sans-serif;
	line-height: 1.6em;
}

#header {
	background: #598FC9;
	height: 33px;
}

#main-container {
	width: 960px;
	margin: 0px auto;

}

#footer-container {
	clear: both;
	padding: 10px 0 20px;
	background: #4A4A49;
	color: white;
	height: 295px;
	font-size: 11px;
}

.clear {
    clear: both;
}

/***************************************HOMEPAGE***************************/
#nav-bar {
	float: left;
	width: 200px;
	margin-right: 40px;
}

#nav-bar ul {
	list-style: none;
	background: #CCCCCC;
	padding-left: 0px;	
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#nav-bar ul li {
	border-bottom: 1px solid #A4A4A4;
}

#nav-bar ul li a {
	text-decoration: none;
	display: block;
	color: #4A4A4A;
	padding: 5px 0px 5px 15px;
}

#nav-bar ul li a:hover {
	background-color: #EEEEEE;
}

/***********************************MIJN TEAM**********************************/
#mijnteam_header {
	width: 960px;
}

#mijnteam_container {
	width: 960px;
}

#mijnteam_team {
	width: 700px;
	float: left;
}

.selection {
	width: 160px;
	/*height: 250px;*/
}

.selection input[type="select"] {
	background: red;

}

#mijnteam_trivia {
	width: 250px;
	float: left;
	padding: 5px;
}

#mijnteam_trivia_header {
	color: #4a4a4a;
	font-size: 18px;
	background: #f1f1f5;
	padding: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;	
}


#mijnteam_trivia_answers {
	padding: 5px;
	border: 1px solid black;
	
}

#mijnteam_trivia ul {
	list-style: none;
	margin-left: -35px;

}

#mijnteam_trivia ul li {

}
