{% extends "base.html" %}
{% load url from future %}
{% block title  %}Homepage Beheerder{% endblock %}

{% block content %}
<p>Race invoeren: {{race}}</p>
	<p>SOM: {{pers_uitslag.som}}</p>
	
	<form action="" method="post">
	{% csrf_token %}
		<table>
			{% for uitslag in uitslagen %}
				<tr>
					<td>{{uitslag.coureur.naam}}</td>
					<td>{{uitslag.race.naam}}</td>
					<td>{{uitslag.positie_kwali}}</td>
					<td>{{uitslag.positie_race}}</td>
				</tr>
			{% endfor %}
		</table>	
	<input type="submit" value="Opslaan" />
	</form>
	
	
{% endblock %}
